<html>
    <div style="color:#363945; background-color:#E1F6FF; display: block">
        <h1> Data Exploration - Notebook Summary </h1>
            <ol>
                <li> Read raw data collected from <strong>2020</strong> StackOverflow Survey. [ <a href = "https://insights.stackoverflow.com/survey" >StackOverflow Surveys</a> ]</li>
                <li> Discovering the <strong>shape</strong> of the data (number of answers in the survey).</li>
                <li> Displaying a <strong>random answer</strong> to explore it's different attributes.</li>
                <li> Exploring the <strong>format</strong> of different attributes.</li>
                <li> Exploring some <strong>simple stats</strong> in the dataset.</li>
            </ol><br>
    </div>
</html>

### Loading Data

In [1]:
DATA_PATH = "../data/raw/survey_results_public.csv"

In [2]:
# Import libraries
import numpy as np
import pandas as pd
pd.options.display.max_rows = 1000

In [3]:
# Loading data and printing shape
raw_df = pd.read_csv(DATA_PATH)
raw_df.shape

(64461, 61)

In [4]:
# Display random answer 
# Observations: Multiple answers need to be splitted 
# Reference to the schema needed to understand 
raw_df.sample(1).iloc[0]

Respondent                                                                  26721
MainBranch                                 I am a student who is learning to code
Hobbyist                                                                      Yes
Age                                                                          17.0
Age1stCode                                                                      8
CompFreq                                                                      NaN
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                             United States
CurrencyDesc                                                                  NaN
CurrencySymbol                                                                NaN
DatabaseDesireNextYear                                                        NaN
DatabaseWorkedWith                                                            NaN
DevType                                                                       NaN
EdLevel                         Secondary school (e.g. American high school, G...
Employment                                                                Student
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                                        NaN
JobSeek                         Iâ€™m not actively looking, but I am open to new...
LanguageDesireNextYear                  Bash/Shell/PowerShell;C#;Java;Python;Rust
LanguageWorkedWith              Assembly;Bash/Shell/PowerShell;C#;HTML/CSS;Jav...
MiscTechDesireNextYear                                                        NaN
MiscTechWorkedWith                                        .NET;.NET Core;Unity 3D
NEWCollabToolsDesireNextYear                Github;Google Suite (Docs, Meet, etc)
NEWCollabToolsWorkedWith                    Github;Google Suite (Docs, Meet, etc)
NEWDevOps                                                                     NaN
NEWDevOpsImpt                                                                 NaN
NEWEdImpt                                                                     NaN
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                                   Yes
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                 Yes
NEWOvertime                                                                   NaN
NEWPurchaseResearch                                                           NaN
NEWPurpleLink                                                             Annoyed
NEWSOSites                      Stack Overflow (public Q&A for anyone who code...
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
OpSys                                                                 Linux-based
OrgSize                                                                       NaN
PlatformDesireNextYear                                         Linux;Raspberry Pi
PlatformWorkedWith                             Arduino;Linux;Raspberry Pi;Windows
PurchaseWhat                                                                  NaN
Sexuality                                                                     NaN
SOAccount                                                                     Yes
SOComm                                                             No, not at all
SOPartFreq                                    Less than once per month or monthly
SOVisitFreq                                       A few times per month or weekly
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                                                                NaN
WebframeDesireNextYear                                                        NaN
WebframeWorkedWith                                                         jQuery
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                   NaN
YearsCode                                                                       9
YearsCodePro                                                                  NaN
Name: 26622, dtype: object

In [5]:
# Print Data general information
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [6]:
# Get stats for the numerical column
raw_df.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000

In [7]:
# There exists 3 columns that have an 'object' data type Despite of being 'integers'
# Investigate the questionable objects columns
questionable_cols = ['Age1stCode', 'YearsCode', 'YearsCodePro']

for col in questionable_cols:
    print(col)
    print(raw_df[col].unique().tolist())
    print("--------------------------\n")

Age1stCode
['13', '19', '15', '18', '16', '14', '12', '20', '42', '8', '25', '22', '30', '17', '21', '10', '46', '9', '7', '11', '6', nan, '31', '29', '5', 'Younger than 5 years', '28', '38', '23', '27', '41', '24', '53', '26', '35', '32', '40', '33', '36', '54', '48', '56', '45', '44', '34', 'Older than 85', '39', '51', '68', '50', '37', '47', '43', '52', '85', '64', '55', '58', '49', '76', '72', '73', '83', '63']
--------------------------

YearsCode
['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19', '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13', '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40', '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31', '34', '29', '1', '39', '41', '45', 'More than 50 years', '47', '49', '48']
--------------------------

YearsCodePro
['27', '4', nan, '8', '13', '2', '7', '20', '1', '23', '3', '12', '17', '18', '10', '14', '29', '6', '28', '9', '15', '11', '16', '25', 'Less than 1 year', '5', '21', '19', '35', '24', '32', '22', '30', '38', '26', '40', '33', '31', 'More than 50 years', '34', '36', '39', '37', '41', '45', '47', '42', '46', '50', '43', '44', '48', '49']
--------------------------

# Some Simple Stats in the data

### What is the total number of respondents ?

In [8]:
print("There are \033[1m{}\033[0m Respondents in this survey".format(raw_df.shape[0]))

There are 64461 Respondents in this survey

### What are the top 10 countries involved in the survey ?

In [9]:
raw_df['Country'].value_counts().head(10)

United States     12469
India              8403
United Kingdom     3896
Germany            3890
Canada             2191
France             1898
Brazil             1818
Netherlands        1343
Poland             1278
Australia          1208
Name: Country, dtype: int64

### From which Origin are the respondents ?

In [10]:
raw_df['Ethnicity'].value_counts().head(10)

White or of European descent                           29318
South Asian                                             4467
Hispanic or Latino/a/x                                  2256
Black or of African descent                             1690
Southeast Asian                                         1686
East Asian                                              1681
Middle Eastern                                          1622
Hispanic or Latino/a/x;White or of European descent      763
Middle Eastern;White or of European descent              378
Multiracial                                              292
Name: Ethnicity, dtype: int64

### What is the mean age of programmers?

In [11]:
print("Average Programmers involved in the survey are \033[1m{:.1f}\033[0m Years old.".format(raw_df['Age'].mean(axis = 0)))

Average Programmers involved in the survey are 30.8 Years old.